{% extends "App/player/player-base.html" %}

{% block title %}Задание{% endblock %}

{% block content %}
<div class="block" style="padding-bottom: 250px; margin-bottom: -40px;">
	<h2 class="task-header">Название задания</h2>
	<p class="text">Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования, и распечатки вместо английского текста для того, чтобы сделать ударение не на содержание, а на элементы дизайна. Такой текст также называется как заполнитель. Это очень удобный инструмент для моделей (макетов). Он помогает выделить визуальные элементы в документе или презентации, например текст, шрифт или разметка. 
	<form action="task" method="POST" class="task-form">
		<p class="timer">11:11</p>
		<p class="scores">Баллов за задание: <span class="scores-value">30</span></p>
		<br>
		<input required type="text" name="answer" autocomplete="off">
		<br>
		<br>
		<input type="submit" id="submit" value="Ответить" class="button">
	</form>
	<div class="footer"><p>Легенды Бауманки 2018 <a href="https://www.livy.website"> Веб-студия LivY</a></p></div>
</div>
{% endblock %}
