{% extends "App/player/player-base.html" %}

{% block title %}Страница команды{% endblock %}

{% block content %}
<div class="block">
	<h1 class="main-header" style="font-size: 36px;">{{team_name}} </h1>
	<h1 class="main-header" style="font-size: 36px;">Команда № {{team_id}}</h1>
	<div class="capitan">
		<span>Капитан</span>
		<div class="contacts">
			{{leader_name}}
		</div>
		<div class="participants">
			<span>Участники</span>
			<ol>
				{% for member in members_names %}
				    <li>{{ member }}</li>
				{% endfor %}
			</ol>
		</div>
		{% block moderator_rules %}{% endblock %}
		<div class="team_inf">
			<span>Время старта</span>
			<div>{{ start_time  }}</div>
		</div>
		<div class="team_inf">
			<span>Количество баллов</span>
			<div>{{score}}</div>
		</div>
			
		</div>
		<div class="table-parent">
			<table class="tab_team">
				<thead>
					<td>Название</td>
					<td>Описание</td>
					<td>Время</td>
					<td>Баллы</td>
				</thead>
				<tbody>
					<tr>
						<td>Название</td>
						<td>Опиееееееееееееееееееееееееееееееееееееееееееееееееесание</td>
						<td>Время</td>
						<td>Баллы</td>
					</tr>
					<tr>
						<td>Название</td>
						<td>Описание</td>
						<td>Время</td>
						<td>Баллы</td>
					</tr>
					<tr>
						<td>Название</td>
						<td>Описание</td>
						<td>Время</td>
						<td>Баллы</td>
					</tr>
					<tr>
						<td>Название</td>
						<td>Описание</td>
						<td>Время</td>
						<td>Баллы</td>
					</tr>
					<tr>
						<td>Название</td>
						<td>Описание</td>
						<td>Время</td>
						<td>Баллы</td>
					</tr>
					<tr>
						<td>Название</td>
						<td>Описание</td>
						<td>Время</td>
						<td>Баллы</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="footer"><p>Легенды Бауманки 2018 <a href="https://www.livy.website"> Веб-студия LivY</a></p></div>
</div>
{% endblock %}