<!--
    Это базовый html-шаблон. 
    В данном приложении на его основе будет генерироваться весь основной интерфейс приложения.
    Описание структуры:
        - div.wrapper -  блок сетки на 12 колонок
        - header - лого и меню профиля пользователя. 
        - nav - навигация по функциональным возможностям приложения.
        - main - секция серверной генерации контента. Её описание - 
                в других шаблонах. Также в этой части содержатся тэги меню профиля пользователя. 
        - footer - информация о приложении.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'App/style.css' %}">
    <link rel="shortcut icon" href="{% static 'App/img/favicon.png' %}" type="image/png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script src="{% static 'App/js/jquery-3.3.1-min.js' %}"></script>
    <script src="{% static 'App/js/script.js' %}" defer></script>
    <title>{% block title %}MobileSub{% endblock %}</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="logo">
                <a href="/">MobileSub</a>
            </div>
            <div class="username">{{user.first_name}}
                <div class="role">(Сотрудник)</div>
            </div>
            <div class="profile">
                <i class="fas fa-ellipsis-v fa-lg"></i>
            </div>         
        </header>

        <nav>
           <div class="nav-title nav-title-1">Отчёты</div>
           <div class="nav-wrap orders">
                <div class="nav">Отчёт</div>
                <div class="nav">Отчёт</div>
                <div class="nav">Отчёт</div>
                <div class="nav">Отчёт</div>
                <div class="nav">Отчёт</div>
           </div>
           <div class="nav-title nav-title-2">Операции</div>
           <div class="nav-wrap operations">
                <div class="nav">Операция</div>
                <div class="nav">Операция</div>
           </div>
        </nav>

        <main>
            {% block profile %}{% endblock %}
            <div class="profile-menu">
                <div class="profile-menu-item">
                    <a href="profile">Информация о профиле</a>
                </div>
                <div class="profile-menu-item">
                    <a href="logout">Выйти</a>
                </div>
            </div>
        </main>
        <footer>
            <div class="version">v.1.0</div>
        </footer>
    </div>
</body>
</html>
