@charset "utf-8";
/* CSS Document */

*{
	
	margin: 0;
	padding: 0;
}

body{
	background-color: #16191c;
}

.grid{
	min-height: 100vh;
	max-width: 1200px;
	margin: 0 auto;
	display:grid;
	grid-template-rows: 70px 1fr 15px 50px;
	grid-template-columns: 15px 1fr 30px 1fr 15px;
	background-color: #26292b;
	z-index: 1;
}

header {
	display: grid;
	grid-template-columns: repeat(12,1fr);
	height: 50px;
	width: 100%;
	background-color: #3b3e40;
	align-items: center;
	box-shadow: 0px 3px 49px 1px rgba(0,0,0,0.75);
	z-index: 4;
	position: fixed;
}

.burger {
	grid-column: 2 / 3;
	color: #f2f2f2;
	cursor: pointer;
	text-align: center;
}

.header-title {
	grid-column: 3 / 11;
	font-family: 'Ariar Regular';
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: #d5d5d5;
}

.logout {
	grid-column: 11 / 12;
	cursor: pointer;
	text-align: center;
}

.menu-hidden{
	position: fixed;
	z-index: 5;
    left: -120%;
	height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
	font-family: "Neucha";
	font-size: 20px;
	width: 380px;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr repeat(5,1fr);
}

.nav:hover {
	background-color: #5f6264; 
	cursor: pointer;
}
.menu-hidden a {
	text-decoration: none;
	color: white;
}

.nav {
	display: grid;
	align-items: center;
	height: 100%;
}

.logo {
	margin-top: 50px;
}

.menu-close {
	display: none;
	position: absolute;
	bottom: 50%;
	right: 70%;
	color: #5f6264;
	cursor: pointer;
}

.block{
	text-align: center;
	grid-row-start: 2;
	grid-column-start: 2;
	grid-column-end: 5;
	//background-color: #3b3e40;
	min-height: 600px;
	height: 100%;
	box-shadow: 0px 1px 40px 1px rgba(0,0,0,0.5);
}

.table {
	display:grid;
	grid-template-rows: 7px 40px 10px 1fr 20px;
	grid-template-columns: 20px 1fr 20px;
}

footer {
	display: grid;
	grid-column: 2 / 5;
	grid-row: 3 / 5;
	align-items: center;
	grid-template-columns:  repeat(12,1fr);
}

.footer-title {
	grid-column: 5 / 9;
	font-size: 20px;
	font-family: 'Arial';
	font-weight: bold;
	color: #5f6264;
	text-align: center;
}

.about-livy {
	grid-column: 10 / 12;
}

.about-livy a{
	color: #666a6c;
	font-size: 20px;
	text-decoration: none;
}

.about-livy span {
	color: #919698;
}

/***************************/
/* CLASS BLOCK UNIC STYLES */
/***************************/

.signup {
	display: grid;
	grid-template-columns: repeat(12,1fr);
	grid-template-rows: 60px 1fr 1fr 1fr 1fr 1fr;
}

.signup-block-title {
	grid-column: 3 / 11;
	grid-row: 1 / 2;
	font-size: 24px;
	font-family: 'Arial';
	color: #d9d9d9;
	text-align: center;
	margin: 20px 0;

}

.signup-form {
	display: inherit;
	grid-template-rows: 30px 80px 90px 1fr 1fr 30px 20px;
	grid-template-columns: inherit;
	grid-column: 1 / 13;
	grid-row: 2 / 7;
}

label[for="teamName"] {
	grid-column: 4 / 7;
	font-size: 24px;
	color: #9e9e9e;
}

.form-label {
	font-size: 24px;
	color: whitesmoke;
	text-align: left;
}

.team-name-input {
	grid-column: 7 / 10;
}

.form {
	margin-right: 25px;
	font-size: 18px;
}
.capitan-inputs {
	display: grid;
	grid-template-columns: repeat(6,1fr);
	grid-template-rows: 50px 30px 20px 30px 10px;
	grid-column: 4 / 10;
	grid-row: 2 / 4;
	background-color: #65696b;
	margin-top: 20px;
}

.capitan-inputs-title {	
	font-size: 24px;
	color: white;
	margin-top: 10px;
	grid-column: 1 / 7;
	grid-row: 1 / 2;
}

.capitan-second-name {
	grid-column: 4 / 7;
	grid-row:  2 / 3;
}

.capitan-first-name {
	grid-column: 4 / 7;
	grid-row:  4 / 5;
}

label[for="teamleadSecondName"] {
	grid-column: 2 / 4;
	grid-row: 2 / 3;
}

label[for="teamleadFirstName"] {
	grid-column: 2 / 4;
	grid-row: 4 / 5;
}

.team-inputs {
	display: grid;
	grid-column: 4 / 10;
	grid-row: 4 / 6;
	grid-template-columns: repeat(6,1fr);
	grid-template-rows: 50px 169.38px 169.38px 169.38px 30px 20px;
	min-height: 200px;
	background-color: #65696b;
	margin: 20px 0;
}

.team-title {
	font-size: 24px;
	color: white;
	margin-top: 10px;
	grid-column: 1 / 7;
	grid-row: 1 / 2;
}

.member-inputs {
	display: grid;
	grid-column: 1 / 7;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 50px 30px 20px 30px 10px;
	background-color: #808486;
	margin: 0 10px;
	margin-bottom: 10px;
}

.member-inputs-title {
	grid-column: 1 / 7;
	grid-row: 1 / 2;
	font-size: 24px;
	color: #dadada;
	margin-top: 10px;
}

.delete_member {
	display: grid;
	grid-column: 6 / 7;
	grid-row: 1 / 2;
	align-self: center;
	color: #ff000070;
}

.delete_member:hover {
	cursor: pointer;
	color: #555;
}
.add-member {
	grid-column: 2 / 6;
	margin: 0 50px;
	background-color: #9fa4a6;
	color: white;
	padding-top: 5px;
	font-size: 18px;
}

.add-member:hover {
	background-color: #424040;
	cursor: pointer;
}


label[for="memberSecondName"] {
	grid-column: 2 / 4;
	grid-row: 2 / 3;
}

label[for="memberFirstName"] {
	grid-column: 2 / 4;
	grid-row: 4 / 5;
}

.member-second-name {
	grid-column: 4 / 7;
	grid-row:  2 / 3;
	margin-right: 15px;
}

.member-first-name {
	grid-column: 4 / 7;
	grid-row:  4 / 5;
	margin-right: 15px;
}

.signup-form-submit {
	grid-column: 5 / 9;
    grid-row: 6 / 7;
    margin: 0 50px;
	background-color:#808080;
	border:0px solid #ffffff;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
}

.signup-form-submit:hover {
	background-color: #333;
	cursor: pointer;
}

.popup {

	grid-column: 4 / 8;
	grid-row: 4 / 5;
	background-color: #333;	
}

.start-finish {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 100px 30px 10px 1fr 10px 30px 10px 30px 20px;
}

.start-finish-form {
	grid-column: 3 / 11;
	grid-row: 2 / 3;
}

label[for="teamID"] {
	font-size: 24px;
	color: #9e9e9e;
	text-align: left;
}

input[name="teamID"] {
	font-size: 18px;
	width: 90px;
    margin: 0 20px;
}

.search-button {
	background-color:#808080;
	border:0px solid #ffffff;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	padding: 6px 16px 6px 16px;
	cursor: pointer;
}

.start-finish-block {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 30px 1fr;
	grid-column: 3 / 11;
	grid-row: 4 / 5;
	background-color: #65696b;
}

.start-finish-table {
	grid-column: 2 / 4;
	grid-row: 2 / 3;
	border: 1px solid black;
	margin-top: 20px;
	font-size: 20px;
	border-collapse: collapse;
	color: whitesmoke;
}

.start-finish-table > tbody > tr > td {
	border: 1px solid black;
	background-color: #26292b;
	padding: 8px;
}

.team-start-success {
	margin-top: 20px;
	grid-column: 1 / 5;
    grid-row: 2 / 3;
    color: cadetblue;
}

.team-start-error {
	margin-top: 20px;
	grid-column: 1 / 5;
    grid-row: 2 / 3;
    color: darkred;
}

.start-finish-text {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    margin: 10px 10px;
    font-size: 18px;
    color: #a2a2a2;
}

.start-finish-button {
	margin: 0 25px;
	background-color:#808080;
	border:0px solid #ffffff;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	cursor: pointer;
	width: 100%;
	padding: 5px;
	outline: none;
}

.enable:hover {
	background-color: seagreen;
}
.disable {
	color: #444;
}
.start-finish-title {
	grid-column: 2 / 4;
    grid-row: 1 / 2;
    color: whitesmoke;
    font-size: 24px;
    font-family: 'Arial';
    font-weight: bold;
    margin: 10px 0px;
}

.start-form {
	grid-column: 6 / 8;
	grid-row: 6 / 7;
}

.finish-form {
	grid-column: 6 / 8;
	grid-row: 8 / 9;
}

.start {
	grid-column: 6 / 8;
	grid-row: 6 / 7;
}

.finish {
	grid-column: 6 / 8;
	grid-row: 8 / 9;
}

.block_search{
	display: grid;
	grid-template-columns: 1fr 410px 1fr;
	grid-template-rows: 35px 30px auto auto 1fr;
	grid-gap:20px; 
	font-family: 'Arial';
}

.block_search>p{
	background-color: #65696b;
	color: #d7d7d7;
}

.block_search>div{
	color: #d7d7d7;
	grid-column: 2 / 3;
}

#question{
	grid-row: 3 / 4;
	background-color: #65696b;
}

#answer{
	grid-row: 4 / 5;
	background-color: #65696b;
}

.search_team{
	grid-row: 2 / 3;
	bottom: 0;
	font-size: 25px;
	color: #999999;
}

.search_team>input{
	width: 100px;
	font-size: 18px;
	margin: 0;
}

#show{
	background-color: #808486;
	color: white;
	border: none;
	padding: 4px 8px 4px 8px ;
}
.search_key{
	grid-row: 5 / 6;
	top: 0;
	
}
.search_key>div{
	float: left;
}

.tableButton_inTable{
	grid-row: 2;

	grid-column: 2;
}

.tableButton_allTeams{
	height: auto;
	width: auto;

	padding-left: 3.5vw;
	padding-right: 3.1vw;
	padding-top: 10px;
	padding-bottom: 8px;
	
	background-color: #26292b;
	float: left;	

	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.tableButton_allTeams input{
	margin-right: 5px;
	margin-top: 1.5%;
	float: left;
}

/*---------Check--------*/
.tableCheckbox{
	display: none;
}

.tableCheckbox-custom{
	position: relative;      
	width: 18px;             
	height: 18px;        

	background: #ffffff;
}

.tableCheckbox-custom,
.tableCheckLabel {
	display: inline-block;
	vertical-align: middle;
}

.tableCheckLabel {
	font-size: 24px;
	font-family:Arial;
	color: #FFFFFF;
}

.tableCheckbox:checked + .tableCheckbox-custom::before {
	content: "\2714";             
	display: block;			 
	position: absolute;      
	
	top: -2px;
	left: 2px;     
}
/*------------Check-------------*/
/*---удалить при объединении в один css------*/

.listAllTeams{
	grid-row: 4;
	grid-column: 2;
}

.oneTeamInList{
	width: 100%;
	min-height: 120px;
	
	margin-top: 18px;
	background-color: #3b3e40;

	box-shadow: 0 0 10px rgba(0,0,0,0.5);

	display:grid;
	/*grid-template-rows: 7px 1fr 7px 10fr 7px;
	grid-template-columns: 7px 5fr 13fr 23fr 10fr 10fr 12fr 10fr 10fr 10fr 7px;*/
	grid-template-rows: 10px 25px 7px 1fr 35px;
	grid-template-columns: 20px 3fr 25px 1fr 20px;
}

.headTeamInList{
	grid-row: 2;
	grid-column: 2/5;
}

.headTeamInList p{
	font-size: 24px;
	font-family:Arial;
	color: #9e9e9e;
	float: left;
}

.listAllCircleInTeam{
	grid-row: 4;
	grid-column: 2;

	/*background: grey;*/
}

.blockWithCircle{
	float:left;
	width: 125px;
	height: 125px;

	/*background-color: grey;*/

	position: relative;
}

.triangleInBlock{
	position: absolute;
    border-right: 6px solid #c2c2c2;
    border-bottom: 6px solid #c2c2c2;
    height: 20px;
    width: 20px;
	top: 37px;
	left: 105px;
    transform: rotate(-45deg);
}

.blockWithCircle:last-child .triangleInBlock{
	display: none;
}

.oneCircleInBlock{
	display: inline-block;
	width: 60px; height: 60px;
	background: #c2c2c2;
	border-radius: 50%;
	margin-top: 20px;
}

.firstTextInBlock{
	margin-top: 5px;
	font-size: 18px;
	font-family:Arial;
	color: #ffffff;
	float: center;
}

.secondTextInBlock{
	font-size: 18px;
	font-family:Arial;
	color: #9e9e9e;
	float: center;
}

.doneColorText{
	color: #59b069;
}

.failColorText{
	color: #b05959;
}

.currColorText{
	color: #ffffff;
}

.doneColorCircle{
	background: #59b069;
}

.failColorCircle{
	background: #b05959;
}

.currColorCircle{
	background: #ede190;
	box-shadow: 0 0 20px rgba(237,225,144,0.7);
}

.propInTeam{
	grid-row: 4;
	grid-column: 4;

	height: 110px;

	background: #26292b;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	padding-left: 13px;
	padding-top: 15px;
}

.propInTeam p{
	font-size: 16px;
	font-family:Arial;
	color: #ffffff;
	text-align: left;
}



.tableButton_inTable{
	grid-row: 2;

	grid-column: 2/4;
}

.tableButton_allTeams{
	height: auto;
	width: auto;

	padding-left: 3.5vw;
	padding-right: 3.1vw;
	padding-top: 10px;
	padding-bottom: 8px;
	
	background-color: #26292b;
	float: left;	
}

.tableButton_allTeams input{
	margin-right: 5px;
	margin-top: 1.5%;
	float: left;
}

/*---------Check--------*/
.tableCheckbox {
	display: none;
}

.tableCheckbox-custom {
	position: relative;      
	width: 18px;             
	height: 18px;        

	background: #ffffff;
}

.tableCheckbox-custom,
.tableCheckLabel {
	display: inline-block;
	vertical-align: middle;
}

.tableCheckLabel {
	font-size: 24px;
	font-family:Arial;
	color: #FFFFFF;
}

.tableCheckbox:checked + .tableCheckbox-custom::before {
	content: "\2714";             
	display: block;			 
	position: absolute;      
	
	top: -2px;
	left: 2px;     
}
/*------------Check-------------*/

.tableButton_allTeams p{
	float: left;
	font-size: 24px;
	font-family:Arial;
	color: #FFFFFF;
}

.table_aroundTeams{
	grid-row: 4;
	grid-column: 2;

	background-color: #808486;

	display:grid;
	/*grid-template-rows: 7px 1fr 7px 10fr 7px;
	grid-template-columns: 7px 5fr 13fr 23fr 10fr 10fr 12fr 10fr 10fr 10fr 7px;*/
	grid-template-rows: 7px 55px 7px 1fr 7px;
	grid-template-columns: 7px 1fr 7px;

	font-size: 24px;
	font-family:Arial;
	color: #FFFFFF;
}

.table_teams_head{
	grid-row: 2;
	grid-column: 2;

	cursor: pointer;
}

.table_teams_body{
	grid-row: 4;
	grid-column: 2;

	background-color: #65696b;

	cursor: pointer;
}

.table_teams_stroke{
	display:grid;
	grid-template-rows: 55px;
	grid-template-columns: 5fr 13fr 23fr 10fr 10fr 12fr 10fr 10fr 100px;
	min-width: 842px;

    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.table_teams_head .table_teams_stroke p:hover{
	background-color: #65696b;
}

.table_teams_body .table_teams_stroke:hover{
	background-color: #808486;
}

.table_teams_stroke p{
	display: flex;
    align-items: center;
    justify-content: center;
    line-height: 24px;

    border-right: 2px solid #545859;
}

.table_teams_body .table_teams_stroke p:last-child{
	font-size: 16px;
}

.table_teams_stroke p:last-child{
    border-right: 0;
}

#formId{
	background-color: red;	
	display: none;	
}

.sortUp{
	background: linear-gradient(to top, #808486, #545859);
}	

.sortDown{
	background: linear-gradient(to top, #545859, #808486);
}

.finishedStatus{
	color: #aaf56c;
}

.unfinishedStatus{
	color: #f2d658;
}


