body {
	margin:0;
	padding:0;
}

.menu-grid {
	position: fixed;
	z-index: 6;
}
.menu-bg {
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.3);
	display: none;
}
.menu-icon {
	font-size: 30px;
	margin-top: 9px;
	margin-left: 25px;
	color: #ec7370;
	position: absolute;
	z-index: 10;
	//text-shadow: 0 2px 10px black;
}

.menu-icon:hover {
	cursor: pointer;
}

.menu-hidden{
	position: fixed;
	top: 0;
    left: -100%;
	height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
	font-family: "Neucha";
	font-size: 20px;
	text-align: center;
	
	display: grid;
	grid-template-columns: 240px;
	grid-template-rows: 203px  48px 5px 48px 5px 48px 5px 48px 160px;
}

.menu-grid div.menu-hidden div.logo{
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	min-height: 200px;
	min-width: 200px;
}

.menu-grid div.menu-hidden div.nav-itm1{
	grid-column: 1 / 2;
	grid-row:  2 / 3;
}

.menu-grid div.menu-hidden div.nav-itm2{
    grid-column: 1 / 2;
	grid-row: 4 / 5;
}

.menu-grid div.menu-hidden div.nav-itm3{
    grid-column: 1 / 2;
	grid-row: 6 / 7;
}
.menu-grid div.menu-hidden div.nav-itm4{
    grid-column: 1 / 2;
	grid-row: 8 / 9;
}

.menu-hidden .nav a{
	background-color: rgba(236, 115, 112, 0.7);
	border-top-color: #502826; 
    border-top-style: solid;
    border-top-width: 2.5px;
	line-height: 48px;
}

.menu-hidden .nav a:hover{
    border-top-color: rgba(67, 41, 39, 0.7);
	opacity: 1;
	background-color: #ec7370;
}

.menu-hidden a {
	color: white;
	display: block;
	text-decoration: none;
	min-height: 48px;
}

.menu-close{
	position: fixed;
	left: 250px;
	top: 290px;
	text-align: center;
	display: none;
	
}

.menu-close img:hover{
	cursor: pointer;
}
