@charset "utf-8";
/* CSS Document */

*{
	font-family: 'Neucha', sans-serif;
	margin: 0;
	padding: 0;
}

body{
	background-color: black;
}

.background{
	position: fixed;
	opacity: 0.75;
	z-index: 1;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: #632B21;
}

.BG {
  background-image: -moz-linear-gradient( 128deg, rgb(97,43,31) 0%, rgb(97,43,31) 20%, rgb(105,50,38) 20%, rgb(113,57,44) 20%, rgb(113,57,44) 40%, rgb(156,69,52) 40%, rgb(156,69,52) 60%, rgb(229,165,133) 60%, rgb(229,165,133) 80%, rgb(251,218,177) 80%);
  background-image: -webkit-linear-gradient( 128deg, rgb(97,43,31) 0%, rgb(97,43,31) 20%, rgb(105,50,38) 20%, rgb(113,57,44) 20%, rgb(113,57,44) 40%, rgb(156,69,52) 40%, rgb(156,69,52) 60%, rgb(229,165,133) 60%, rgb(229,165,133) 80%, rgb(251,218,177) 80%);
  background-image: -ms-linear-gradient( 128deg, rgb(97,43,31) 0%, rgb(97,43,31) 20%, rgb(105,50,38) 20%, rgb(113,57,44) 20%, rgb(113,57,44) 40%, rgb(156,69,52) 40%, rgb(156,69,52) 60%, rgb(229,165,133) 60%, rgb(229,165,133) 80%, rgb(251,218,177) 80%);
  opacity: 0.949;
  box-shadow: 0px 3px 0px 250px rgba(0, 0, 0, 0.47),0px 3px 21.56px 0.44px rgba(0, 0, 0, 0.55);
  position: absolute;
  left: 1892px;
  top: 0px;
  width: 240px;
  height: 568px;
  z-index: 522;
}


.main{
	position: relative;
	z-index: 2;
}

.header{
	position: fixed;
	height: 50px;
	width: 100vw;
	z-index: 4;
	background-color: rgba(252, 223, 194, 0.9);
	box-shadow: 0 0 20px rgba(0,0,0,0.75);
}

.header-grid{
	height: 50px;
	max-width: 800px;
	margin: 0 auto;
	display:grid;
	grid-template-rows: 1fr;
	grid-template-columns: 15px 50px 1fr 50px 15px;
	text-align: center;
}

.header-grid>p{
	margin-top: 12px;
	font-size: 24px;
	grid-column: 3 / 4;
	color: #612b1f;
}

.log-out{
	margin-top: 6px;
	grid-column-start: 4;
}

.log-out>img:hover{
	cursor: pointer;
}

.log-out > img{
	justify-self: end;
}

.grid{
	height: 100vh;
	max-width: 800px;
	margin: 0 auto;
	display:grid;
	grid-template-rows: 65px 1fr 15px 1fr 40px;
	grid-template-columns: 15px 1fr 30px 1fr 15px;
}

.block{
	position: relative;
	box-sizing: border-box;
	text-align: center;
	padding: 15px;
	margin: 15px;
	grid-row-start: 2;
	grid-column-start: 1;
	grid-column-end: 6;
	background-image: linear-gradient( 34deg, rgb(97,43,31) 0%, rgb(97,43,31) 20%, rgb(105,50,38) 20%, rgb(113,57,44) 20%, rgb(113,57,44) 40%, rgb(156,69,52) 40%, rgb(156,69,52) 60%, rgb(229,165,133) 60%, rgb(229,165,133) 80%, rgb(251,218,177) 80%);
	min-height: 650px;
	height: 100%;
	box-shadow: 0 0 20px rgba(0,0,0,0.75);
}

.col1{
	opacity: 0.2;
	box-sizing: content-box;
	margin: 15px 0 15px 0;
	grid-row-start: 2;
	grid-column-start: 2;
	grid-column-end: 3;
	background-color: DeepPink;
}

.col2{
	opacity: 0.2;
	box-sizing: content-box;
	margin: 15px 0 15px 0;
	grid-row-start: 2;
	grid-column-start: 4;
	grid-column-end: 5;
	background-color: DeepPink;
}

.main-header{
	font-family: 'Neucha', sans-serif;
	font-size: 60px;
	color: #ec7370;
}

.task-header{
	font-family: 'Neucha', sans-serif;
	font-size: 36px;
	color: whitesmoke;
}

.text{
	font-family: 'Neucha', sans-serif;
	font-size: 20px;
	color: #441920;
}

span{
	color: #ec7370;
}

.footer{
	position: absolute;
	
	bottom: -40px;
	color: white;
	text-align: center;
	font-size: 18;
	left: 0; 
	right: 0; 
	margin: 0 auto;
	width: 300px;
}

.footer > p{
	text-shadow: 1px 1px 2px black;
}

.footer > p > a{
	text-decoration-style: none;
	text-shadow: 1px 1px 2px black;
	color: #ec7370;
}

.button, form>input{
	margin-top: 15px;
	border-radius: 20px 20px 20px 20px;
    border: 0px solid white;
    outline: none;
    font-size: 20px;
    width: 170px;
    height: 30px;
    margin-left: 0px;
    box-shadow: 0 1px 20px black;
    text-align: center;
}
.button{
	font-size: 20px;
	color: black;
	width: 130px;
	height: 40px;
	border-radius: 3px 3px 3px 3px;
	background-color: white;
	font-family: "Neucha";
	margin: auto 0px;
}
 .button:hover{
	background-color: MistyRose;
	//box-shadow: 0 1px 25px black;//, inset 0 0 10px black;
}
 .button:active{
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.task-timer {
	position: relative;
    top: 56px;
	font-size: 18px;
}

.task-form{
	position: absolute;
	width: 250px;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 20px;
}

.answer {
	margin: 80px auto 80px auto;
}

.pass button {
	position: relative;
	top: 175px;
}
.timer{
	font-size: 36px;
	color: #441920;
	position: relative;
    top: 65px;
}

.scores{
	margin-top: 80px;
	font-size: 20px;
	color: whitesmoke;
}

.scores-value{
	color: whitesmoke;
}

.task-answer{
	font-size: 20px;
	color:  whitesmoke;
	position: relative;
    top: 53px;
}

.task-answer>span{
	color: whitesmoke;
}

.after-timer-form {
	margin: 20px auto;
}

.popup{
	display: none;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.5); 
	position: fixed;
	width: 100%;
	height: 100%;
}

#popup{
	display: none;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.5); 
	position: fixed;
	width: 100%;
	height: 100%;
}

.popup-block{
	box-shadow: 0 0 20px rgba(0,0,0,0.75);
	text-align: center;
	box-sizing: border-box;
	padding: 10px 10px 40px 10px;
	background-color: white;
	position: relative;
	left: 0;
	right: 0;
	top: 50%;
	margin: 0 auto;
	width: 250px;
	height: 120px;
	margin-top: -60px;
}

.popup-block>button{
	display: inline-block;
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	margin: 0 auto;
}


.main-header{
	font-family: 'Neucha', sans-serif;
	font-size: 60px;
	color: whitesmoke;
}

.text{
	font-family: 'Neucha', sans-serif;
	font-size: 20px;
	color: whitesmoke;
	margin-bottom: 20px;
}

span{
	color: whitesmoke;
}

.footer{
	display: grid;
	grid-row: 4 / 5;
	color: white;
	text-align: center;
	font-size: 18px;
	margin: 0 auto;
	width: 300px;
}

.footer > p{
	text-shadow: 1px 1px 2px black;
}

.footer > p > a{
	text-decoration-style: none;
	text-shadow: 1px 1px 2px black;
	color: #ec7370;
}

.capitan {
	font-size: 18px;
	margin-top: 4px;
}

.capitan>span {
	text-align: left;
}

.contacts {
	text-align: center;
	margin-left: 20px;
	color: #441920;
}

.capitan, .contacts {
	line-height: 50px;
	text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.participants {
	margin: 20px 0;
}

ol {
	text-align: left;
    margin-left: 30%;
}
.team_inf>div {
	margin-left: 10px;
}

.team_inf>span, .team_inf>div {
	display: inline-block;
}


.table-parent{
	margin-top: 2%;
	overflow-x: scroll;
  	overflow-y: hidden;
  	white-space: nowrap;
  	width: 90%;
  	margin-left: 5%;
  	text-align: center;
}

table {
	display: inline-block;
	border-collapse: collapse;
	background-color: rgba(154,144,143, 0.3);
	color: #441920;
	font-size: 18px;
}

tbody>tr {
	border: 1px solid #6c6563;
	border-left: none;
	border-right: none;
}

tbody>tr>td {
	border: 2px solid rgba(113,103,100, 0.3);
	border-left: none;
	padding: 1px;
}

tbody>tr>td:last-child {
	border-right: none;
}

thead {
	background-color: rgba(81,62,50, 0.9);
	color: whitesmoke;
}