{% extends "App/player/PHOTO/task.html" %}

{% block task_title %}{% endblock %}

{% block task_preview %}МГТУ им. Н.Э.Баумана не зря носит имя этого небезызвестного революционера. Николай Эрнестович был убит в 1905 году недалеко от Императорского Московского Технического Училища, которое впоследствии стало носить его имя.{% endblock %}

{% block task_text %}<span style="color:rgb(251,218,177);"> Задание: <span><i>Найдите место нападения на Николая Эрнестовича Баумана. Покажите нам, что вы знаете историю человека, чье имя носит наш Университет.</i>{% endblock %}