{% extends "App/player/PHOTO/task.html" %}

{% block task_title %}{% endblock %}

{% block task_preview %}А Вы знаете причину, по которой МГТУ носит имя революционера? Даже район Москвы, где расположено главное здание университета называется "Басманный". Мы решили посчитать сколько памятников и бюстов установлено в честь этого человека, а сможете ли это сделать Вы?{% endblock %}

{% block task_text %}<span style="color:rgb(251,218,177);"> Задание: <span><i>Сфотографируйтесь у всех памятников и бюстов Николаю Эрнестовичу, чем больше, тем лучше :)</i>{% endblock %}