{% extends "App/player/PHOTO/task.html" %}

{% block task_title %}{% endblock %}

{% block task_preview %}
<p style="text-align: center; color: whitesmoke;"><i>Глядит в небеса Конструктор</i></p>
<p style="text-align: center; color: whitesmoke;"><i>Космический спутник храня</i></p>
<p style="text-align: center; color: whitesmoke;"><i>Ракета – его заслуга</i></p>
<p style="text-align: center; color: whitesmoke;"><i>Космос – России броня</i></p>
<p style="text-align: center; color: whitesmoke;"><i>Над ним за орбитой орбита</i></p>
<p style="text-align: center; color: whitesmoke;"><i>Сказал:</i></p>
<p style="text-align: center; color: whitesmoke;"><i>Дорога к звездам открыта!</i></p>{% endblock %}

{% block task_text %}<span style="color:rgb(251,218,177);"> Задание: <span><i>Узнали о ком говорится в загадке? Тогда отправляйтесь к месту, где он находится и сделайте с ним фото.</i>{% endblock %}