{% extends "App/player/player-base.html" %}

{% block title %}Задание{% endblock %}

{% block popup %}
<div class="popup">
	<div class="popup-block">
		<p id="popup_text">Ответ правильный<br>Получено 30 баллов</p>
		<form method="GET" action="task" class="after-timer-form">
			<button id="close" name="extra" value="True" class="button">Ок</button>
		</form>
	</div>
</div> 
{% endblock %}

{% block content %}
<div class="block" style="padding-bottom: 250px; margin-bottom: -40px;">
	<h2 class="task-header">{% block task_title %}{%endblock%}</h2>
	<p class="text">{% block task_preview %}{%endblock%}</p>
	<p class="text"> {% block task_text %}{%endblock%}</p>

	<form action="task" id="task-form" method="POST" class="task-form">
		<p class="scores">Баллов за задание: <span class="scores-value">30</span></p>
		<br>
		<input required type="text" name="answer" autocomplete="off">
		<br>
		<br>
		<input style="display: none" name="team_id" value={{team_id}} type="text">
		<input style="display: none" name="task_id" value={{task_id}} type="text">
		<input type="submit" value="Ответить" class="button">
		<br>
		<br>
		<button type="button" id="prompt" class="button" style="margin-left: -5px;">Подсказка</button>
	</form>
	<div class="footer"><p>Легенды Бауманки 2018 <a href="https://www.livy.website"> Веб-студия LivY</a></p></div>
</div>
{% endblock %}
