<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Legends</title>
	{% load staticfiles %}
	<link rel = "stylesheet" href="{% static 'login-styles.css' %}">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
</head>
<body>
	<div class="header" style="background: none; box-shadow: none;">
		<div class="header-grid">
			<div class="menu-icon"><i class="fa fa-bars" aria-hidden="true"></i></div>
		</div>
		
	</div>

	<div class="menu-grid">
        <div class="menu-bg"></div>
	    <div class="menu-hidden">
	        <div class="logo"><img src="{% static 'img/Logo.png' %}"></div>
		    <div class="nav nav-itm1"><a href="#">Задание</a></div>
		    <div class="nav nav-itm2"><a href="#">Страница команды</a></div>
		    <div class="nav nav-itm3"><a href="#">Правила</a></div>
		    <div class="nav nav-itm4"><a href="#">Методичка</a></div>
	    </div>
	    <div class="menu-close"><img src="{% static 'img/close.png' %}"></div>
    </div>

    <div class="login-grid">
		<div class="login_back"></div>
    	<form action="login" method="POST" class="login">
    		<div id="Enter">ВХОД</div>
    		<div>Логин команды</div>
    		<input type="text" name="login">
    		<div>Пароль команды</div>
    		<input type="password" name="password">
    		<input type="submit" name="Войти" value="Войти" id="Sign_in">
    	</form>
    	<div class="login_ornament"><img src="{% static 'img/Ornament.png' %}"></div>
    </div>
	<script src="{% static 'js/menu.js' %}"></script>
	<script src="{% static 'js/jquery.touchSwipe.min.js' %}"></script>
</body>
</html>