<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form action="signup" method="POST">
		<input type="text" name="team_name" placeholder="Название команды">
		<div>
		<label for="teamlead">Капитан</label>
		<input type="text" name="teamleadFirstName" id="teamlead" placeholder="Имя">
		<input type="text" name="teamleadSecondName" placeholder="Фамилия">
		</div>
		<div>
		<label for="member1">Участник</label>
		<input type="text" name="memberFirstName1"id="member1" placeholder="Имя">
		<input type="text" name="memberSecondName1" placeholder="Фамилия">
		</div>
		<div>
		<label for="member2">Участник</label>
		<input type="text" name="memberFirstName2"id="member2" placeholder="Имя">
		<input type="text" name="memberSecondName2" placeholder="Фамилия">
		</div>
		<label for="member3">Участник</label>
		<input type="text" name="memberFirstName3"id="member3" placeholder="Имя">
		<input type="text" name="memberSecondName3" placeholder="Фамилия">
		</div>
		<div>
		<label for="member4">Участник</label>
		<input type="text" name="memberFirstName4"id="member4" placeholder="Имя">
		<input type="text" name="memberSecondName4" placeholder="Фамилия">
		</div>
		<input type="submit">
	</form>
	
</body>
</html>