<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	{% load staticfiles %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/icon" href= "{% static 'img/favicon.ico' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin-styles.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'js/admin.js' %}" defer></script>
</head>
<body>
	<header>
		<div class="burger">
			<i class="fas fa-bars fa-2x"></i>
		</div>
		<div class="header-title">
			Легенды Бауманки - доступ администратора
		</div>
		<div class="logout">
			<a href="logout"><img src="{% static 'img/log_out.png' %}" alt="logout"></a>
		</div>
	</header>
	<div class="menu-hidden">
		<div class="logo"><img src="{% static 'img/Logo.png' %}"></div>
		<a href="score_table"><div class="nav nav-itm2">Таблица команд</div></a>
		<a href="route"><div class="nav nav-itm3">Маршрут</div></a>
	</div>
	<div class="menu-close">
		<i class="fas fa-times fa-2x"></i>
	</div>
	<div class="grid">
		<div class="block">
			{% block content %}{% endblock %}
		</div>
		<footer>
			<div class="footer-title">Легенды Бауманки 2018</div>
			<div class="about-livy"><a href="https://livy.website">Веб-студия <span>LivY</span></a></div>
		</footer>
	
	</div>
</body>
</html>