{% extends "App/admin/admin-base.html" %}

{% block title %}Маршрут{% endblock %}

{% block content %}
			<div class="check_knopka">
				<div class="knopka">
					<label>
                    <input class="checkbox" type="checkbox" name="checkbox-test">
                    <span class="checkbox-custom"></span>
                    <span class="label">Все команды</span>
                </label>
                </div>
			</div>	
			<div class="block2">
				<div>КОМАНДА 1  "Name 1", участников: 5</div>
				<div class="inf_block">
					Время старта: 11:3<br>
					Времени прошло: 11:08<br>
					Этапов пройдено: 2/15<br>
					Этапов провалено: 0<br>
					Опережение графика: +3:15
				</div>
				<div class="circle">
					<div class="d1"></div>
					<p>ЭТАП 1</p>
					<p>5:35/10:00</p>
					<div class="triangle"></div>
				</div>
				<div class="circle">
					<div class="d1"></div>
					<p>ЭТАП 2</p>
					<p>5:35/10:00</p>
					<div class="triangle"></div>
				</div>

				<div class="circle">
					<div class="d1"></div>
					<p>ЭТАП 3</p>
					<p>5:35/10:00</p>
					<div class="triangle"></div>
				</div>

				<div class="circle">
					<div class="d1"></div>
					<p>ЭТАП 4</p>
					<p>5:35/10:00</p>
					<div class="triangle"></div>
				</div>

				<div class="circle">
					<div class="d1"></div>
					<p>ЭТАП 5</p>
					<p>5:35/10:00</p>
					<div class="triangle"></div>
				</div>

				<div class="circle">
					<div class="d1"></div>
					<p>ЭТАП 6</p>
					<p>5:35/10:00</p>
					<div class="triangle"></div>
				</div>

				<div class="circle">
					<div class="d1"></div>
					<p>ЭТАП 7</p>
					<p>5:35/10:00</p>
					<div class="triangle"></div>
				</div>

				<div class="circle">
					<div class="d1"></div>
					<p>ЭТАП 8</p>
					<p>5:35/10:00</p>
					<div class="triangle"></div>
				</div>

				<div class="circle">
					<div class="d1"></div>
					<p>ЭТАП 9</p>
					<p>5:35/10:00</p>
					<div class="triangle"></div>
				</div>

				<div class="circle">
					<div class="d1"></div>
					<p>ЭТАП 10</p>
					<p>5:35/10:00</p>
				</div>
			</div>

			<div class="block2">
				<div>КОМАНДА 1  "Name 1", участников: 5</div>
				<div class="inf_block">
					Время старта: 11:3<br>
					Времени прошло: 11:08<br>
					Этапов пройдено: 2/15<br>
					Этапов провалено: 0<br>
					Опережение графика: +3:15
				</div>
				<div class="circle">
					<div class="d1"></div>
					<p>ЭТАП 1</p>
					<p>5:35/10:00</p>
					<div class="triangle"></div>
				</div>
				<!-- <div class="triangle"></div> -->

				<div class="circle">
					<div class="d1"></div>
					<p>ЭТАП 2</p>
					<p>5:35/10:00</p>
					<div class="triangle"></div>
				</div>

				<div class="circle">
					<div class="d1"></div>
					<p>ЭТАП 3</p>
					<p>5:35/10:00</p>
					<div class="triangle"></div>
				</div>

				<div class="circle">
					<div class="d1"></div>
					<p>ЭТАП 4</p>
					<p>5:35/10:00</p>
					<div class="triangle"></div>
				</div>

				<div class="circle">
					<div class="d1"></div>
					<p>ЭТАП 5</p>
					<p>5:35/10:00</p>
					<div class="triangle"></div>
				</div>

				<div class="circle">
					<div class="d1"></div>
					<p>ЭТАП 6</p>
					<p>5:35/10:00</p>
					<div class="triangle"></div>
				</div>

				<div class="circle">
					<div class="d1"></div>
					<p>ЭТАП 7</p>
					<p>5:35/10:00</p>
					<div class="triangle"></div>
				</div>

				<div class="circle">
					<div class="d1"></div>
					<p>ЭТАП 8</p>
					<p>5:35/10:00</p>
					<div class="triangle"></div>
				</div>

				<div class="circle">
					<div class="d1"></div>
					<p>ЭТАП 9</p>
					<p>5:35/10:00</p>
					<div class="triangle"></div>
				</div>

				<div class="circle">
					<div class="d1"></div>
					<p>ЭТАП 10</p>
					<p>5:35/10:00</p>
				</div>
			</div>
 {% endblock %}
