{% extends "App/admin/moderator-base.html" %}
{% load staticfiles %}
{% block title %}Таблица команд{% endblock %}

{% block content %}
		<div class="block table">
			<!--Сюды-->
			<div class="tableButton_inTable">
				<div class="tableButton_allTeams">
					<label>
                    	<input class="tableCheckbox" type="checkbox">
                    	<span class="tableCheckbox-custom"></span>
                    	<span class="tableCheckLabel">Все команды</span>
                	</label>
				</div>
			</div>

			<div class="table_aroundTeams">
				<div class="table_teams_head">
					<div class="table_teams_stroke">
						<p id="1" class="sortUp"> № </p>
						<p id="2"> Название </p>
						<p id="3"> Капитан </p>
						<p id="4"> Этапы </p>
						<p id="5"> Время старта </p>
						<p id="6"> Время финиша </p>
						<p id="7"> Фейлы </p>
						<p id="8"> Баллы </p>
						<p id="9"> Статус </p>
					</div>
				</div>

				<div class="table_teams_body">
					<!--Таблица-->
				</div>
			</div>
		</div>
		<form  id="formId" action="team_info_moderator" method="GET" style="display: none;">
    	<input type="submit" name="team_id" value="">
	</form>
	<script src="{% static 'js/table.js' %}"></script>
 {% endblock %}