{% extends "App/admin/moderator-base.html" %}

{% block title%}Регистрация{% endblock%}

{% block content %}
<div class="block signup">
			<div class="signup-block-title">
				Добавление команды
			</div>
			<form class="signup-form" method="POST" action="signup">
				<label for="teamName">Название команды</label>
				<input required class="team-name-input form" name="team_name" type="text">
				<div class="capitan-inputs">
					<div class="capitan-inputs-title">Капитан</div>
					<label class="form-label" for="teamleadSecondName">Фамилия</label>
					<input required class="capitan-second-name form" name="teamleadSecondName" type="text">
					<label class="form-label" for="teamleadFirstName">Имя</label>
					<input required class="capitan-first-name form" name="teamleadFirstName" type="text">
				</div>
				<div class="team-inputs">
					<div class="team-title">Команда</div>
						<div id="member1" class="member-inputs">
							<div class="member-inputs-title">
								Участник
							</div>
							<label class="form-label" for="memberSecondName">Фамилия</label>
							<input required id="second-name1" class="member-second-name form" name="memberSecondName1" type="text">
							<label class="form-label" for="memberFirstName">Имя</label>
							<input required id="first-name1" class="member-first-name form" name="memberFirstName1" type="text">
						</div>
						<div id="member2" class="member-inputs">
							<div class="member-inputs-title">
								Участник
							</div>
							<label class="form-label" for="memberSecondName">Фамилия</label>
							<input required id="second-name2" class="member-second-name form" name="memberSecondName2" type="text">
							<label class="form-label" for="memberFirstName">Имя</label>
							<input required id="first-name2" class="member-first-name form" name="memberFirstName2" type="text">
						</div>
						<div id="member3" class="member-inputs">
							<div class="member-inputs-title">
								Участник
							</div>
							<label class="form-label" for="memberSecondName">Фамилия</label>
							<input required id="second-name3" class="member-second-name form" name="memberSecondName3" type="text">
							<label class="form-label" for="memberFirstName">Имя</label>
							<input required id="first-name3" class="member-first-name form" name="memberFirstName3" type="text">
						</div>
					<div class="add-member" id="add">Добавить участника</div>
				</div>
				<button class="signup-form-submit">Зарегистрировать</button>
			</form>
			
<!-- 			<div class="popup">
				<div class="popup-block">
					<p id="msg"></p>
					<button id="close" class="button">Ок</button>
				</div>
			</div>  -->
		</div>
 {% endblock %}