{% extends "App/admin/moderator-base.html" %}

{% block title%}Поиск команды: старт и финиш{% endblock %}

{% block content %}
<div class="block start-finish">
	<form class="start-finish-form" action="team_search">
		<label for="teamID">Номер команды</label>
		<input reqired type="text" name="teamID">
		<button class="search-button">Показать</button>
	</form>
	<div class="start-finish-block">
		<div class="start-finish-title">Информация о команде</div>

		{% if message %}
			<div class="start-finish-text">{{message}}</div>
		{% endif %}
		{% if error_msg %}
			<div class="team-start-error">{{error_msg}}</div>
		{% endif %}
		{% if succes %}
			<div class="team-start-success">{{succes}}</div>
		{% endif %}
		{% if team_id %}
		<table class="start-finish-table">
			<tbody>
				 <tr>
		        <td>Номер команды</td>
		        <td>{{team_id}}</td>
		    </tr>
		    <tr>
		        <td>Название команды</td>
		        <td>{{team_name}}</td>
		    </tr>
		    <tr>
		        <td>Число участников</td>
		        <td>{{players_count}}</td>
		    </tr>
		    <tr>
		        <td>Стартовое время</td>
		        <td>{{start_time}}</td>
		    </tr>
		    <tr>
		        <td>Количесво фото-квестов</td>
		        <td>{{photo_task_count}}</td>
		    </tr>
		    <tr>
		        <td>Количество экстра-квестов</td>
		        <td>{{extra_task_count}}</td>
		    </tr>
			</tbody>
		   
		</table>
		{% endif %}
		

		
	</div>
		{% if started %}
		<button type="submit" class="start-finish-button start disable">Старт</button>	
		{% else %}	...
		<form class="start-form" method="POST" action="start">
			<button name="teamID" value="{{team_id}}" class="start-finish-button start enable">Старт</button>
		</form>	
		{% endif %}

		{% if finished %}
		<button type="submit" class="start-finish-button finish disable">Финиш</button>
		{% else %}	
		<form class="finish-form" method="POST" action="finish">
			<button name="teamID" value="{{team_id}}"" class="start-finish-button start enable">Финиш</button>
		</form>
		{% endif %}
</div>
 {% endblock %}